# osx image file
.DS_Store

# xcode4 backup files
*.swp
*~.nib

# xcode4 builds and user settings
build/
xcuserdata/
project.xcworkspace/
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3

# old skool
.svn
.cvs

# osx noise
.DS_Store
#profile